@import "../../../mixins.scss" ;

.register {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: var(--black);            
      
        .main-div {
          width: 70%;
          height: 550px;
          padding: 3rem;
          background-color: #fff;
          border-radius: 0.55rem;
          @include md {
            width: 30%;
            padding: 3.5rem;
          }
      form {
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }
  
        .content {
          font-size: 18px;
          margin-bottom: 2rem;
        }
  
        label {
        margin: 8px;
        }
  
        .control-div {
          width: 100%;
          padding: .65rem .5rem;
          border: 1px solid #ced4da;
          border-radius: 0.45rem;
          transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          &:focus {
            border-color: #007bff;
            outline: 0;
            box-shadow: 0 0 0 0.3rem rgba(0, 123, 255, 0.25);
          }
        }
  
        .btn-div {
          display: flex;
          flex-direction: column;
          padding: 0.85rem .5rem; 
        }
  
        .btn-in {
          cursor: pointer;
          background-color: #007bff;
          border-radius: .45rem;
          font-size: 23px;
          border-color: white;
          &:hover {
            background-color: #0056b3;
          }
        }
  
        .link-div {
            margin-top: 10px;
          display: flex;
          align-items: center;
          flex-direction: column;
          font-size: 18px;
          p {
            margin-top: 15px;
            font-size: 20px;
          }
        }
      }

    }
}

  